<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Simple TodoList App</h1>
                <p class="col-lg-10 fs-4">by <a target="_blank" href="https://github.com/mazzlookman/">Mohammad
                        Lukman Aqib</a></p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <div class="p-4 p-md-5 border rounded-3 bg-light">
                    <div class="form-floating mb-3">
                        <a href="/users/register" class="w-100 btn btn-lg btn-primary">Register</a>
                    </div>
                    <div class="form-floating mb-3">
                        <a href="/users/login" class="w-100 btn btn-lg btn-primary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container justify-content-center">
        <div class="row">
            <h2>A Simple TodoList App</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-5 fs-5">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, totam! Reprehenderit eum magnam
                    consequatur natus? Harum odio praesentium accusantium voluptas sed inventore eaque a nulla
                    architecto sit autem, dolores iusto! Eaque commodi adipisci, dolore omnis sed dicta provident
                    odio
                    enim aspernatur assumenda molestias delectus perspiciatis, rerum exercitationem sapiente minus
                    at!
                </p>
            </div>
            <div class="col-5 fs-5">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, nesciunt accusamus. Ut
                    tenetur
                    ea earum ipsum enim vero inventore? Non enim mollitia illo officiis voluptatem, perspiciatis
                    corrupti eum ut numquam deserunt error fugit eveniet fuga inventore voluptatum quo aspernatur
                    est
                    sequi ea doloribus commodi! Quis, deserunt quia modi, eveniet, mollitia quae pariatur expedita
                    officiis sit ex ab culpa sapiente. Odit!</p>
            </div>
        </div>
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>